<h1>The App in a Nutshell</h1><br />


<p> Welcome to the Gowee Dox graphical documentation app! </p>

<p>	The purpose of the application is to help those people who are working on the application for doctors, the CDM (developed and maintained by CareSharing) to share information with one another through an informative yet-not-boring documentation of the actual software. </p>

<p>	Basically, the idea is to make it a wikipedia- like documentation app, but in a way that is more pleasing to the eyes, thereby generating more interest to the user, making the documentation and the sharing of information a lot more effective.</p>
<br />

<% content_for :sidetop do %>
<%= link_to 'Home', :controller => 'welcome', :action => 'index' %><br />
<a href="http://www.Google.com">Questions</a><br />
<a href="http://www.news.yahoo.com">News</a><br />
<a href="http://www.facebook.com">Contact</a><br />
<% end %>

<% content_for :sidebot do %>
	<p>Have an account?</p>
	<%= button_to "Sign in", :controller => 'users', :action => 'login' %> 
	
	<p>Sign up for free!</p>
	<%= button_to "Sign up!", :controller => 'users', :action => 'new' %> 
<% end %>